<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>好きなもの管理システム</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="header">
		<h1>好きなものを記録するアプリ</h1>
		<div class="register">
			<button type="button" onclick="location.href='/';">戻る</button>
		</div>
	</div>
	<hr>
	<form method="post" action="/update">
	<table>
		<tr>
			<th>タイトル</th>
			<td th:text="${todo.title}"></td>
		</tr>
		<tr>
			<th>詳細</th>
			<td th:text="${todo.detail}"></td>
		</tr>
	</table>

	<input type="hidden" name="id" value="${todo.id}" />
	<input type="submit" value="更新" />
	</form>
	えらえーーーーーーーーーーーーーーーーーー
</body>
</html>

